@model App.Persistence.Data.Entity.Post

<div class="container">
  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Ürün Kategorisi Silme</h5>
          @*<div asp-validation-summary="All"></div>*@
        </div>
        <div class="card-body">
          <form asp-controller="Blog" asp-action="Delete" method="post" class="d-flex align-items-center">
            <div class="container">

              <div class="row mb-4">
                <div class="col">
                  <label asp-for="PostTitle" class="mb-2"></label>
                  <div class="container bg-secondary text-white rounded p-2">@Model.PostTitle</div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="PostContext" class="mb-2"></label>
                  <div class="container bg-secondary text-white rounded p-2">@Model.PostContext</div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
                  <a asp-controller="Blog" asp-action="Index" class="btn btn-primary" style="width:150px">Listeye Dön</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>