<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="~/dist/images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/dist/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="~/dist/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/dist/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="~/dist/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/dist/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/dist/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/dist/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="~/dist/css/style.css">
    </head>
<body>



    <div class="container-flex">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

 

    <!-- THEME JAVASCRIPT FILES
    ================================================== -->
    <!-- initialize jQuery Library -->
    <script src="~/dist/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/dist/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="~/dist/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/dist/plugins/slick-carousel/slick.min.js"></script>
    <script src="~/dist/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/dist/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="~/dist/maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
    <script src="~/dist/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="~/dist/js/custom.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>