@model App.Persistence.Data.Entity.Setting
@{
    ViewData["Title"] = "Setting Admin Page";
}
<div class="container">

    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Ayar Listesi</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Değiştir</th>
                                <th scope="col"><label asp-for="@Model.DarkMode ?? " Karanlık Modu""></label></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <th>
                                    <a class="m-2" asp-controller="Setting" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi-pencil-square text-success"></i></a>
                                    @* <a class="m-2" asp-controller="Setting" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi-trash text-danger"></i></a> *@
                                </th>
                                <td> <input type="checkbox" checked="@Model.DarkMode" disabled> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>